/* Alertes */
.alert {
  padding: 1rem 1.2rem;
  border: none;
}

/* success alert */
.alert-success {
  background-color: var(--light-cream);
  color: var(--primary-red);
}

/* error alert */
.alert-danger {
  background-color: var(--primary-red);
  color: var(--light-cream);
}

/* alert (unidentified user) */
.alert-warning {
  background-color: #fff3cd;
  color: var(--dark-blue);
}
