.btn {
  border-radius: 0.3rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  border: none;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--medium-blue);
  color: var(--dark-blue);
}

.btn-primary:hover {
  background-color: var(--medium-blue-2);
}

/* Variants */
.btn--foster,
.btn--inscription {
  background-color: var(--medium-blue-2);
  color: var(--light-cream);
}

.btn--inscription:hover,
.btn--foster:hover {
  background-color: var(--medium-blue);
  color: var(--light-cream);
}

.btn--logout {
  background-color: var(--primary-red);
  color: var(--light-cream);
}

.btn--logout:hover {
  background-color: var(--secondary-red);
  color: var(--light-cream);
}

.btn-outline {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  background: transparent;
}

.btn-outline:hover {
  background-color: var(--dark-blue);
  color: white;
}

/* Disabled */
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}