.btn {
  border-radius: .3rem;
  font-weight: 500;
  padding: .4rem .8rem;
}

.btn-primary {
  background-color: var(--dark-blue);
  color: var(--light-cream);
  border: none;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background-color: var(--medium-blue-2);
}

.btn.btn-foster-request {
  background-color: var(--medium-blue-2);
  color: var(--light-cream);
  font-size: 1rem;
}

.btn.btn-foster-request:hover {
  background-color: var(--medium-blue-2);
  color: var(--light-cream);
}

.custom-inscription-btn {
  background-color: var(--medium-blue);
  color: var(--light-cream);
  font-size: 1rem;
}

.custom-inscription-btn:hover {
  background-color: var(--medium-blue-2);
  color: var(--light-cream);
}

.btn-outline-primary {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.btn-outline-primary:hover {
  background-color: var(--dark-blue);
  color: white;
}