/* Home card */
.hero-section {
  background-image: url('/images/home-cat-dog.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Home text presentation */
.main-container-custom {
  background-color: var(--light-cream);
  border-radius: 1rem; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.main-container-custom h3 {
  color: var(--medium-blue); 
  font-weight: 600;
  margin-top: 2rem;
}

.main-container-custom p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
}

.main-container-pfc {
  color: var(--primary-red);
}

/* Animal cards */
.card-base {
  background-color: var(--light-cream);
  border: none;
  border-radius: 0.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-body-standard {
  background-color: var(--light-cream);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-blue);
}

.animal-card {
  border-radius: 0.5rem;
}

.animal-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.animal-card .card-body {
  border-top: 1px solid var(--dark-blue);
}

.animal-card .card-text {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 1.2rem;
}

.card-title-details {
  font-size: 1.5rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.animal-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.association-card {
  padding: 1.2rem;
  background-color: var(--light-cream);
  border-bottom: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 1.2rem;
}

.info-grid > div {
  margin-bottom: 0.5rem;
}