.footer-navbar {
  background-color: var(--dark-blue);
  color: var(--light-cream);
  font-size: 0.9rem;
  border-top: 1px solid var(--grey);
  font-family: "Playfair Display", "Georgia", "serif";
}

.footer-link {
  color: var(--light-cream);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--light-pink);
  text-decoration: underline;
}

.footer-text {
  font-size: 0.85rem;
  color: var(--light-cream);
  cursor: default;
}

.footer-nav li {
  display: inline;
}

.footer-divider {
  color: var(--light-cream);
  opacity: 0.5;
}