.navbar {
  background-color: var(--dark-blue);
  padding: .8rem 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--light-cream);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.nav-link {
  color: var(--light-cream);
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--medium-blue);
  text-decoration: none;
}

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:focus,
.navbar-brand:active {
  color: var(--light-cream);
  text-decoration: none;
}


.navbar-brand:hover {
  color: var(--primary-red);
}

/* custom toggle icon */
.custom-toggler {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 .1rem var(--medium-blue);
}

/* three bars (burger) */
.custom-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
}

.custom-toggler-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--light-cream);
  transition: all 0.3s ease;
}