:root {
  --background: #f8f9fa;
  --primary-red: #E75561;
  --secondary-red: #dd424f;
  --light-cream: #f7f9fc;
  --light-blue: #C4EEEF;
  --medium-blue: #71a6c8;
  --medium-blue-2: #377195;
  --dark-blue: #203656;
  --grey: #FFFFFF26;
  --warning-bg: #fff3cd;
}